
body    {text-align:center;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding-top: 5px;
    padding-right: 2px;
    padding-bottom: 5px;
    padding-left: 2px;
}

h1  {
    color:gray;
    text-align:center;
    text-size-adjust:80px;
}

canvas  {
    border: 8px black;
    box-shadow:gray 10px 20px 10px 20px;
}

